<div id="index">
  <ul id="class-index">
    <p><%= node.language %></p>
    
    <% dock.classes.sort { |a, b| a.name <=> b.name }.each do |klass| %>
      <li class="class">
        <a href="<%= path_to node_file(klass) %>"><%= klass.name %></a>
        <% if klass == node %>
          <ul>
            <% klass.class_methods.each do |method| %>
              <li class="class-method">           
                <a href="#<%= method_anchor method %>">
                  <%= method.name %>
                </a>
              </li>
            <% end %>
          
            <% unless klass.instance_methods.empty? or klass.class_methods.empty? %>
              <div class="hr"></div>
            <% end %>
          
            <% klass.instance_methods.each do |method| %>
              <li class="instance-method">
                <a href="#<%= method_anchor method %>">
                  <%= method.name %>
                </a>
              </li>
            <% end %>                                                               
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
