<% content_for :subtitle do %>
  <span class="class">
    <%= node.name %>
  </span>
  
  <span class="file">
    (in <%= node.file %>)
  </span>
<% end %>

<div class="documentation">
  <%= node.documentation %>
</div>

<% node.methods.each do |method| %>
  <div class="public instance method">
    <h3 class="name">
      <%= method.name %>
    </h3>
    
    <div class="documentation">
      <%= method.documentation %>
    </div>
    
    <ul class="arguments">
      <%# method.params.each do |param| %>
        <li><%#= param.name %></li>
      <%# end %>
    </ul>
  </div>
<% end %>
