<div id="content">
  <h1>
    <span class="class">
      <%= node.name %>
      <span class="file">
        (<img src='<%= path_to "images/class.png" %>' alt="class" title="class"> in <%= node.file %>)
      </span>              
    </span>
  </h1>

  <div class="documentation">
    <%= node.documentation %>
  </div>
                     
  <div class="methods">
    <% methods.each do |method| %>
      <div class="method">
        <h3 class="signature">
          <%= image_link_to_method method %>
          <a name='<%= method_anchor method %>'>
            <%= method_signature method %>
          </a>
        </h3>  
        
        <div class="content">
          <div class="documentation">
            <%= method.documentation %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
