<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="<%= path_to 'stylesheet.css' %>" />
    <%= yield :head %>
  </head>
  
  <body>
    <%= render :partial => 'index' %>

    <%= yield %>
  </body>
</html>
